/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

// fonts

// colors
$body-bg: #F7FCFE !default;
$body-color: #222 !default;
$link-color: #AA4A44 !default;
$selection-bg: $link-color !default;
$selection-color: #fff !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;
$presentation-heading-color: #cb132a !default;
$code-block-bg: #FCFCFC  !default;

// headings
$presentation-heading-font-weight: 700 !default;
$presentation-heading-text-shadow: 2px 2px 2px $body-bg !default;

$presentation-heading-text-transform: uppercase !default;

/*-- scss:rules --*/

.reveal p {
  font-weight: 300;
  text-shadow: 1px 1px $body-bg;
}

.reveal p code {
  display: inline-block;
  border-radius: 7px;
}

.reveal small code {
  vertical-align: baseline;
}

section.has-light-background {
  p,
  h1,
  h2,
  h3,
  h4 {
    text-shadow: none;
  }
}

.reveal .slides section .subtitle {
  color: #AA4A44;
  font-size: 1.5em;
  font-style: italic;
  text-transform: uppercase;
  margin-top: -10px;
}

.quarto-title-author {
  color: #AA4A44;
}


.agenda {
  font-size: 0.85em;
}

.agenda-slide h1 {
  size: 0em;
  display: none;
}

.agenda-inactive {
  opacity: 0.5;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.agenda-active {
  margin-top: -0.5em;
  font-size: 1.5em;
  margin-bottom: -0.5em;
}